/* Jessica Hawley, Data Science for Economists */

/* This is my homework portfolio css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(243, 243, 243);
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', serif;
    text-align: center;
    }
    
h2{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', serif;
    text-align: center;
}

h3{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', serif;
    text-align: center;
}

p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', serif;
    text-align: center;
}
    
    
.myWeek1{
    margin: auto;
    max-width: 700px;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgb(200, 200, 200);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek2{
    margin: auto;
    max-width: 700px;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgb(200, 200, 200);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek3{
    margin: auto;
    max-width: 700px;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgb(200, 200, 200);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek4{
    margin: auto;
    max-width: 700px;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgb(200, 200, 200);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek5{
    margin: auto;
    max-width: 700px;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgb(200, 200, 200);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek7{
    margin: auto;
    max-width: 700px;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgb(200, 200, 200);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek8{
    margin: auto;
    max-width: 700px;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgb(200, 200, 200);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek9{
    margin: auto;
    max-width: 700px;
    text-align: center;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: none;
    background-color: rgb(200, 200, 200);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}


/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width:auto;
    height: auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 0px;
    margin-left: 50px;
    margin-right: 50px;
    border-color: rgb(50, 50, 50);
    margin-bottom: 0.5cm;
    display: inline-block;    
}

.chartw5{
    background-color: white;
    width: 290px;
    height: 290px;
    border-width: 2px;
    border-style: solid;
    border-radius: 0px;
    margin-left: 5px;
    margin-right: 5px;
    border-color: rgb(50, 50, 50);
    margin-bottom: 0.5cm;
    display: inline-block;   
}

.button {
    background-color: rgb(50, 50, 50);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

.button:hover {opacity: 1} 

.container {
    display: flex;
    flex-flow: wrap;
    column-gap: 20px;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-content: center;
 }
