/* Jessica Hawley, Data Science for Economists */

/* This is my homework portfolio css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(233, 233, 233);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    flex:1;
    text-align: center;
    
li{
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    position: relative;
    
li a:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
li a:visited{
    color: rgb(0, 0, 0);
}
li a:active{
    font-weight: bold;
    color: rgb(0, 0, 0);    
}    
li:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    transform-origin: left;
    transition: transform 0.32s ease-out;
    
}

li:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}

    
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(220, 220, 220);    
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100, 100, 100);
}


/* Set the apperance of the class, chart */
.chart{
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
    background-color: white;
    width:480px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100, 100, 100);
    }

.map-chart{
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
    max-width: 1000px;
    background-color:white; 
    width: 480px;
    border-width: 3px;
    border-style: solid; 
    border-radius: 10px;
    border-color: rgb(100, 100, 100);
    }    
