/* Jessica Hawley, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(243, 243, 243);
 
}

a{
display:table;
margin: auto;
margin-bottom: 3.5px;
}
#link1{
backgrounf-color: rgb(243,243,243);
border:1px;
border_color:rgb(200,200,200);
border-radius:2px
border-style:solid;
font-family:roboto;
padding:2px;
padding-right:5px;
padding-left:5px;
}

#link1:hover{
background-color:rgb(243,243,243);
border-color:rgb(243,243,243);


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek2{
    margin: auto;
    max-width: 600px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek3{
    margin: auto;
    max-width: 600px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek4{
    margin: auto;
    max-width: 600px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek5{
    margin: auto;
    max-width: 600px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek6{
    margin: auto;
    max-width: 600px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.myWeek7{
    margin: auto;
    max-width: 600px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width:480px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100, 100, 100);

    
}
    
